<div class="row mt-3">
  <div class="col-md-6 m-auto bg-light ">
    <p class="fs-4 p-3 m-0 text-secondary">總花費：<strong class="fs-1 text-dark">{{totalAmount}}</strong></p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 m-auto bg-light">
    <nav id="navbar-example2" class=" my-2 navbar bg-warning px-3 mb-3">
      <a class="navbar-brand" href="#">消費明細</a>
    </nav>
    <div class="expense-list mb-2">
      <ul class="list-group list-group-flush">
        {{#each records}}

        <li
          class="list-group-item list-group-item-action list-group-item-secondary d-flex align-items-center justify-content-around">
          <div class="icon_div">
            <i class="category_icon {{ this.categoryId.icon }}"></i>
          </div>
          <div class="w-25 d-flex flex-column ">
            <h3>
              {{this.name}}
            </h3>
            <small class="date text-muted" >{{dateTransfer this.date }}</small>
          </div>
          <p>{{ this.amount }}</p>
          <a href=""><button class="btn btn-dark mx-2">修改</button></a>
          <a href=""><button class="btn btn-dark">刪除</button></a>
        </li>
        </li>


        {{/each}}
      </ul>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 m-auto bg-light">
    <a href="./record/new">
    <button class="btn btn-success w-100 mb-2">新增項目</button>
    </a>
    
  </div>
</div>


<div class="container bg-light">

</div>

<style>
  .expense-list {
    height: 200px;
    overflow-y: scroll;
  }

  .icon_div {
    width: 10%;
  }

  .category_icon {
    font-size: 3rem;
    color: rgb(119, 140, 99);
  }
</style>
