<div class="row my-3 d-flex justify-content-center p-2">
  <div class="col-md-6">
    <div class="d-flex">
      <form action="/" method="get" class="col-sm-12 rounded d-flex" id="search-by-category">

        <div class="col-sm-3 me-1">
          <select class="form-select" aria-label="Default select example" name="year" id="year">
            <option value="">選擇年份
            </option>
            {{#each data.years}}
            <option value='{{ this }}' {{#ifCond this ../optionsSelected.year}} selected {{/ifCond}}> {{ this }}
            </option>
            {{/each}}
          </select>
        </div>

        <div class="col-sm-3 me-1">
          <select class="form-select" aria-label="Default select example" name="month" id="month">
            <option value="">選擇月份
            </option>
            {{#each data.months}}
            <option value='{{ this }}' {{#ifCond this ../optionsSelected.month}} selected {{/ifCond}}> {{ this }}
            </option> {{ this }}</option>
            {{/each}}
          </select>
        </div>

        <div class="col-sm-3 me-1">
          <select class="form-select" aria-label="Default select example" name="categoryId" id="category">
            <option value="">全部類別</option>
            {{#each data.categories}}
            <option value='{{ this._id }}' {{#ifCond this._id ../optionsSelected.categoryId }} selected {{/ifCond}}>
              {{ this.name }}</option>
            {{/each}}
          </select>
        </div>
        <button class="filter-button btn" type="submit">GO</button>
      </form>
      <div class="col-sm-6 ps-3">
        {{> message}}
      </div>


    </div>
    <div>
      <div class="col-md-6 d-flex flex-column bg-light bg-opacity-75 rounded mt-2 p-2">
        <div class="text-center">
          <p class="fs-4 p-2 m-0 text-secondary">總花費：<strong class="fs-1 text-dark">{{totalAmount}}</strong></p>
          <nav id="navbar-example2" class=" my-1 navbar rounded ">
            <p class="navbar-brand m-auto">消 費 明 細</p>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    {{!-- <div class="mt-2 bg-light rounded">
      <p class="fs-4 p-2 m-0 text-secondary">總花費：<strong class="fs-1 text-dark">{{totalAmount}}</strong></p>
    </div> --}}
    <div class="mt-2 px-2 py-1 bg-light bg-opacity-75 rounded">
      {{!-- <nav id="navbar-example2" class=" my-2 navbar px-3 rounded ">
        <p class="navbar-brand m-auto">消 費 明 細</p>
      </nav> --}}
      <div class="expense-list mb-2 rounded border">
        <ul class="list-group list-group-flush">
          {{#each records}}
          <li
            class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center justify-content-around p-1">
            <div class="icon_div col-sm-2">
              <i class="category_icon {{ this.categoryId.icon }}"></i>
            </div>
            <div class="col-sm-3 d-flex flex-column">
              <h4>
                {{this.name}}
              </h4>
              <small class="date text-muted">{{dateTransfer this.date }}</small>
            </div>
            <div class="col-sm-2">
              <h5>{{ this.amount }}</h5>
            </div>
            <a href="./record/{{this._id}}/edit"><button class="btn mx-1 edit-button">修改</button></a>

            <form action="./record/{{this._id}}?_method=DELETE" method="post" onsubmit="return submitForm(this)"><button
                type="submit" class="btn delete-button">刪除</button></form>
          </li>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="my-2 px-2 bg-light bg-opacity-75 rounded">
      <a href="./record/new">
        <button class="btn w-100 my-2" onclick="return isDelete()" id="add-new-button">新增項目</button>
      </a>

    </div>
  </div>
</div>

<script>

  function submitForm(form) {
    swal({
      title: "確定要刪除嗎?",
      text: "",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then(function (isOkay) {
        if (isOkay) {
          form.submit();
        }
      });
    return false;
  }

</script>